.monitor {
  width: 640px;
  height: 480px;
  background-color: var(--monitor-bg-color);
  display: grid;
  grid-template-columns: 125px auto;
  margin: auto;

  font-family: monospace;
}

.monitorVitalSide {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  border-right: 1px solid var(--monitor-title-bg-color);
}

.monitorWaveformSide {
  display: grid;
  grid-template-rows: var(--monitor-vital-box-title-height) repeat(3, 1fr) var(--monitor-vital-box-title-height);
}

.monitorTimeBar {
  text-align: center;
  width: 100%;
  background-color: var(--monitor-title-bg-color);
  color: var(--monitor-co2-waveform-color);
  font-size: 15px;
  line-height: var(--monitor-vital-box-title-height);
}
